'<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
   <key>SchemeUserState</key>
   <dict>
      <key>MOQGOCallInjectionTest.xcscheme</key>
      <dict>
         <key>isShown</key>
         <true/>
         <key>orderHint</key>
         <integer>0</integer>
      </dict>
   </dict>
</dict>
</plist>
'
